[appenders.console]
kind = "console"
encoder = { pattern = "{h({d(%Y-%m-%d %H:%M:%S.%f)(local):.23})} | {h({l}):>5} | {M}:{L} - {m}{n}" }

[appenders.file]
kind = "file"
path = "log/debug.log"
encoder = { pattern = "{d(%Y-%m-%d %H:%M:%S.%f)(local)} | {l:>5} | {M}:{L} - {m}{n}" }

[appenders.ui_log]
kind = "ui_logs"
max_size = 1024

[loggers.lcu_backend]
level = "TRACE"
appenders = ["console", "ui_log", "file"]

[loggers."lol_helper::app"]
level = "WARN"
appenders = ["ui_log"]
